a {
    color: black;   

}

a:hover {
    text-decoration: none;
    color: black;
}


#header {
    padding-top: 60px;
    font-family: fantasy;
}

#header h1 {
    font-size: 10rem;
}

#headersweet {
    font-family: cursive;
    font-size: 50rem;
}

#front-main {
    padding-top: 5rem;
}

.card {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15); 
    border-radius: 5px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    height: 100%;
}

.card:hover {
    transform: scale(1.05, 1.25);
}

.row {
    height: 150px;

}